body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-align: center;
}

header {
  background-color: #612731;
  color: white;
  padding: 50px 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  margin: 10px 0 0 0;
}

.about {
  margin: 30px 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.4s, box-shadow 0.4s;
}

.profile-pic:hover {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.projects {
  margin: 30px 20px;
}

.project-card {
  display: inline-block;
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 220px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  color: #111010;
  background-color: #b66875;
}

.project-card h3 {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  background-color: #0e0e0e;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
  background-color: #eff5f0;
  transform: scale(1.05);
}
